@charset "UTF-8";
/*========================================*/
/*////// DISEÑO FOOTER              //////*/
/*========================================*/
.footer {
  background-color: white;
  font-family: "Carme";
  text-decoration: none;
}

#footer .footerLogo img {
  position: relative;
  transform: translate(45vw, 6px); /*POSICIONA EL LOGO EN EL CENTRO*/
}

#contListFooter .listFooterContacto {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /*POSICIONA LOS DATOS DE CONTACTO A LA DERECHA*/
}

/*       LOGOS REDES + EFECTOS           */
#footer .listRedes {
  position: relative;
  top: 10px;
  left: 5px;
  display: inline-flex;
}

.listRedes li {
  list-style: none;
}

.listRedes li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 23px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #e96529;
  z-index: 1;
}

.listRedes li a .icon {
  position: relative;
  color: #e96529;
  transition: 0.5s;
  z-index: 3;
}

.listRedes li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.listRedes li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.listRedes li a:hover:before {
  top: 0;
}

/*CAMBIO COLOR LOGO RED FACEBOOK  */
.listRedes li:nth-child(1) a:before {
  background: #3b5999;
}

/*CAMBIO COLOR LOGO RED YOUTUBE   */
.listRedes li:nth-child(2) a:before {
  background: #e62e2d;
}

/*CAMBIO COLOR LOGO RED INSTAGRAM */
.listRedes li:nth-child(3) a:before {
  background: #e62e6d;
}

/*CAMBIO COLOR LOGO RED TWITTER   */
.listRedes li:nth-child(4) a:before {
  background: #376ebe;
}

/*         CONTACTO FOOTER                */
.listFooterContacto li {
  width: 350px;
  height: 20px;
  display: flex;
  color: black;
}

/*========================================*/
/*////// DISEÑO HEADER              //////*/
/*========================================*/
header {
  height: 245px;
  font-family: "Carter One";
}

/*      PROPIEDADES DEL BANNER           */
.headerBanner img {
  height: 148px;
}

.headerBanner img:hover {
  filter: drop-shadow(-5px 5px 10px black);
}

* {
  margin: 0;
  padding: 0;
  font-style: none;
  text-decoration: none;
}

a,
li {
  text-decoration: none;
}

/*========================================*/
/*///// DISEÑO BODY STANDAR PARA PAGE ////*/
/*========================================*/
body {
  margin: 0px;
  max-width: 100vw;
}

main {
  font-family: "Carme";
  padding-top: 20px;
  min-height: 100vh; /*100% DE VISTA DE PANTALLA DEL MAIN */
  background: linear-gradient(to right, dodgerblue, white);
}

/*========================================*/
/*//////   CONTENIDO MAIN-INICIO    //////*/
/*========================================*/
/*            DISEÑO TEXTO MAIN           */
.textInicio {
  padding: 3px;
  text-align: left;
  color: #011AFF;
  font-family: "Carme";
}

/*        SECCION SLIDER SPONSOR          */
.slider {
  width: 99vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2800px;
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
  height: 90px;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
/*========================================*/
/*////// CONTENIDO MAIN-CATEGORIAS  //////*/
/*========================================*/
/*           CONTENIDO CATEGORIAS         */
/*            RESPONSIVE GRID             */
.textCat {
  color: #011AFF;
  font-family: "Carme";
}

#responsiveGrid .contentGrid {
  height: 380px;
  display: flex;
  flex-direction: column;
}

#responsiveGrid .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

#responsiveGrid .bigImage {
  height: 360px;
}

#responsiveGrid .smallImage {
  height: 380px;
}

#responsiveGrid #imageOne {
  background-image: url("../images/categorias/cancha-entrenando2.jpeg");
}

#responsiveGrid #imageTwo {
  background-image: url("../images/categorias/ninos-pelota.jpg");
}

#responsiveGrid #imageThree {
  background-image: url("../images/categorias/profesora-alumnos.jpg");
}

#responsiveGrid #imageFour {
  background-image: url("../images/categorias/cancha-entrenando.jpg");
}

/*# sourceMappingURL=style.css.map */
