@charset "UTF-8";
/*========================================*/
/*//////        DISEÑO FOOTER       //////*/
/*========================================*/
.footer {
  background-color: white;
  font-family: "Carme";
  text-decoration: none;
}

#footer .footerLogo img {
  position: relative;
  transform: translate(45vw, 5px); /*POSICIONA EL LOGO EN EL CENTRO*/
}
#footer .listRedes {
  position: relative;
  top: 10px;
  left: 5px;
  display: inline-flex;
}

#contListFooter {
  padding-top: 15px;
}
#contListFooter .listFooterContacto {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /*POSICIONA LOS DATOS DE CONTACTO A LA DERECHA*/
}

/*         CONTACTO FOOTER                */
.listFooterContacto li {
  width: 350px;
  height: 20px;
  display: flex;
  align-items: center;
  color: black;
}

/*       LOGOS REDES + EFECTOS           */
.listRedes li a {
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 42px;
  font-size: 23px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #e96529;
  z-index: 1;
}

.listRedes li a .icon {
  position: relative;
  color: #e96529;
  transition: 0.5s;
  z-index: 3;
}

.listRedes li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.listRedes li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.listRedes li a:hover:before {
  top: 0;
}

/*CAMBIO COLOR LOGO RED FACEBOOK  */
.listRedes li:nth-child(1) a:before {
  background: #3b5999;
}

/*CAMBIO COLOR LOGO RED YOUTUBE   */
.listRedes li:nth-child(2) a:before {
  background: #e62e2d;
}

/*CAMBIO COLOR LOGO RED INSTAGRAM */
.listRedes li:nth-child(3) a:before {
  background: #e62e6d;
}

/*CAMBIO COLOR LOGO RED TWITTER   */
.listRedes li:nth-child(4) a:before {
  background: #376ebe;
}

/*========================================*/
/*//////        DISEÑO HEADER       //////*/
/*========================================*/
header {
  font-family: "Carter One";
}

.headerTitulo {
  font-size: 30px;
  color: #011AFF;
  text-shadow: 1px 1px 1px black;
}

.headerTitulo p {
  margin-bottom: 0;
}

/*      PROPIEDADES DEL BANNER           */
.headerBanner img {
  width: 100vw;
  object-fit: contain;
  bottom: 0;
  filter: drop-shadow(0 0 8px black);
}

.navbar-brand {
  animation: tracking-in-expand-fwd-top 1.9s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

/* ---------------------------------------*/
/*            ANIMACION - LOGO            */
/* ---------------------------------------*/
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(0);
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}
/*========================================*/
/*//////  RESET CSS + DISEÑO BODY   //////*/
/*========================================*/
* {
  margin: 0;
  padding: 0;
  font-style: none;
  text-decoration: none;
}

a,
li {
  text-decoration: none;
}

/*========================================*/
/*/////    DISEÑO BODY/MAIN PAGE'S    ////*/
/*========================================*/
body {
  margin: 0px;
  max-width: 100vw;
}

main {
  width: 100%;
  min-height: 100vh;
  padding-top: 10px;
  background: linear-gradient(45deg, dodgerblue, white, #f76827);
  background-size: 160% 160%;
  position: relative;
  animation: movimiento 10s ease infinite;
}

@keyframes movimiento {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
/*========================================*/
/*//////      DISEÑO RESPONSIVE     //////*/
/*========================================*/
/*   Small Mobil Vertical (hasta 320px)   */
@media (max-width: 320px) {
  /*    RESPONSIVE / GRID - CATEGORIAS      */
  .slider .slide img {
    height: 40px;
    object-fit: contain;
  }
  /*    RESPONSIVE / ICONOS REDES           */
  .listRedes li a {
    width: 30px;
    height: 30px;
    line-height: 27px;
    font-size: 14px;
    margin: 0 10px;
    border: 1px solid #e96529;
  }
  /*    RESPONSIVE / LOGO FOOTER            */
  .footerLogo a img {
    width: 50px;
  }
  /*    RESPONSIVE / DATOS DE CONTACTO      */
  #contListFooter .listFooterContacto li {
    width: 190px;
    font-size: 10px;
  }
  #contListFooter .listFooterContacto li img {
    width: 10px;
    object-fit: contain;
  }
  /*      RESPONSIVE / TITULO HEADER         */
  .headerTitulo {
    font-size: 14px;
  }
}
/*  Small Mobil Horizontal(menos de 480px)  */
@media (min-width: 320px) and (max-width: 480px) {
  /*    RESPONSIVE / GRID - CATEGORIAS      */
  .slider .slide img {
    height: 50px;
    object-fit: contain;
  }
  /*    RESPONSIVE / ICONOS REDES           */
  .listRedes li a {
    width: 40px;
    height: 40px;
    line-height: 33px;
    font-size: 20px;
    margin: 0 10px;
    border: 2px solid #e96529;
  }
  /*    RESPONSIVE / LOGO FOOTER            */
  .footerLogo a img {
    width: 90px;
  }
  /*    RESPONSIVE / DATOS DE CONTACTO      */
  #contListFooter .listFooterContacto li {
    width: 200px;
    font-size: 10px;
  }
  #contListFooter .listFooterContacto li img {
    width: 10px;
    object-fit: contain;
  }
  /*      RESPONSIVE / TITULO HEADER         */
  .headerTitulo {
    font-size: 15px;
  }
}
/* - Personalizado (de 438px a 593px) -    */
@media (min-width: 438px) and (max-width: 593px) {
  /*      RESPONSIVE / TITULO HEADER         */
  .headerTitulo {
    font-size: 16px;
  }
}
/*  Medium Devices/Tablets(de 480px hasta 600px)  */
@media (min-width: 480px) and (max-width: 600px) {
  /*    RESPONSIVE / GRID - CATEGORIAS       */
  #responsiveGrid .contentGrid {
    height: 420px;
  }
  #responsiveGrid .bigImage {
    height: 420px;
  }
  #responsiveGrid .smallImage {
    height: 420px;
  }
  /*    RESPONSIVE / GRID - CATEGORIAS       */
  .slider .slide img {
    width: 60%;
    height: 60%;
  }
  /*      RESPONSIVE / LOGO FOOTER           */
  .footerLogo a img {
    width: 120px;
  }
  /*      RESPONSIVE / TITULO HEADER         */
  .headerTitulo {
    font-size: 19px;
  }
}
/*  Medium Devices/IPAD(de 600px hasta 768px)    */
@media (min-width: 600px) and (max-width: 768px) {
  #responsiveGrid .contentGrid {
    height: 480px;
  }
  #responsiveGrid .bigImage {
    height: 480px;
  }
  #responsiveGrid .smallImage {
    height: 480px;
  }
  /*      RESPONSIVE / GRID - CATEGORIAS    */
  .slider .slide img {
    height: 90px;
  }
  /*        RESPONSIVE / TITULO HEADER      */
  .headerTitulo {
    font-size: 24px;
  }
}
/* - Personalizado (hasta 1024px) -    */
@media (max-width: 1024px) {
  /*        RESPONSIVE / TEXTO PROFESORES    */
  .textProf {
    font-size: 14px;
  }
}
/* X-Large devices (large desktops,mayor a 1200px) */
@media (min-width: 768px) and (max-width: 1200px) {
  .headerTitulo {
    font-size: 26px;
  }
}
/*========================================*/
/*//////   CONTENIDO MAIN-INICIO    //////*/
/*========================================*/
/*            DISEÑO TEXTO MAIN           */
#textIni {
  font-family: "Carter One";
  padding: 0.5em;
  font-size: calc(6vw - 28%); /*clamp(3rem, 5vw, 6rem);/*TITULO TAMAÑO RESPONSIVE*/
  text-align: center;
  color: rgba(21, 44, 252, 0.8274509804);
  text-shadow: 1px 1px 0 BLACK, 1px 2px 0 #e96529, 1px 3px 0 #e96529, 1px 4px 0 #e96529, 1px 5px 0 #e96529, 1px 6px 0 BLACK, 1px 6px 17px black;
}

.textInicio {
  padding: 3px;
  filter: drop-shadow(0 0 6px black);
  text-align: left;
  color: #011AFF;
  font-family: "Carme";
}

#textSponsor {
  padding-top: 20px;
  filter: drop-shadow(0 0 6px black);
}

/*     EFECTO 3D SOBRE IMAGEN ESTADIO     */
.contenedor {
  width: 50vw;
  margin: 5% auto;
  perspective: 900px;
}

.imagen-3d {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s ease; /* Añade una transición suave */
  transform: rotateX(0) rotateY(0);
}
.imagen-3d img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*        SECCION SLIDER SPONSOR          */
.slider {
  width: 99vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}
.slider .slide-track {
  display: flex;
  animation: scroll 55s linear infinite;
  -webkit-animation: scroll 55s linear infinite;
  width: 7000px;
}
.slider .slide {
  width: 200px;
  margin: 0.5rem;
}
.slider .slide img {
  width: 100%;
  height: 90px;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
/*========================================*/
/*////// CONTENIDO MAIN-CATEGORIAS  //////*/
/*========================================*/
/*            RESPONSIVE GRID             */
.textCat {
  color: #011AFF;
  font-family: "Carme";
  filter: drop-shadow(0 0 6px black);
}

#responsiveGrid .contentGrid {
  height: 380px;
  display: flex;
  flex-direction: column;
}

#responsiveGrid .image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
}

#responsiveGrid .bigImage {
  height: 490px;
}

#responsiveGrid .smallImage {
  height: 400px;
}

#responsiveGrid #imageOne {
  background-image: url("../images/categorias/cancha-entrenando2.jpeg");
}

#responsiveGrid #imageTwo {
  background-image: url("../images/categorias/ninos-pelota.jpg");
}

#responsiveGrid #imageThree {
  background-image: url("../images/categorias/profesora-alumnos.jpg");
}

#responsiveGrid #imageFour {
  background-image: url("../images/categorias/cancha-entrenando.jpg");
}

/*========================================*/
/*//////   CONTENIDO MAIN-ARENA     //////*/
/*========================================*/
.tituloPage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.tituloPage .textTitulo {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra para simular profundidad */
  border-radius: 5px;
}

.containerArena {
  margin: 0 10vw;
}

.grid-gallery {
  display: grid;
  padding: 3px;
  gap: 0.5rem;
  grid-auto-rows: 300px;
  grid-auto-flow: row dense;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.grid-gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}

/*========================================*/
/*//////  CONTENIDO MAIN-CONTACTO   //////*/
/*========================================*/
.textContact {
  margin-top: 10px;
  text-align: center;
  font-size: 2em;
  color: #011AFF;
  font-family: "Carme";
}

ul {
  list-style: none;
  padding: 0;
}

.contact-wrapper {
  color: #011AFF;
  font-family: "Carme";
  filter: drop-shadow(0 0 6px black);
  box-shadow: 0 0 5px 5px rgba(10, 42, 248, 0.3);
}
.contact-wrapper form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.contact-wrapper label {
  display: block;
}
.contact-wrapper p {
  margin: 0;
  padding: 1em;
}
.contact-wrapper .block {
  grid-column: 1/3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #d63031;
}

.contact-form form button {
  background: #B70E21;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.content-maps {
  width: 100vw;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* LARGE SIZE */
@media (min-width: 700px) {
  .contact-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
    padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
    text-align: left;
  }
}
/*========================================*/
/*////// CONTENIDO MAIN-PROFESORES  //////*/
/*========================================*/
.container {
  color: #011AFF;
  font-family: "Carme";
}
.container .row .col {
  border: solid 1px rgba(0, 0, 0, 0.374);
  filter: drop-shadow(0 0 6px black);
  border-radius: 5px;
  margin: 5px;
  padding: 6px;
}
.container .textProf {
  margin-top: 6px;
}

/*========================================*/
/*////// CONTENIDO MAIN-SPONSORS  //////*/
/*========================================*/
#main {
  padding-top: 30px;
  font-family: "Carme";
  color: #011AFF;
  text-align: center;
}
#main .filaSponsor {
  padding-bottom: 40px;
}
#main .columSponsor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  perspective: 600px;
  border: none;
}
#main .columSponsor .logo3d {
  width: 350px;
  animation: rotar 7s linear infinite;
}

@keyframes rotar {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

/*# sourceMappingURL=style.css.map */
