/*========================================*/
/*////// DISEÑO HEADER              //////*/
/*========================================*/

header {
    font-family: 'Carter One';
}

.headerTitulo {
    font-size: 30px;
    color: #011AFF;
    text-shadow: 1px 1px 1px black;
}

.headerTitulo p {
    margin-bottom: 0;
}

/*      PROPIEDADES DEL BANNER           */
.headerBanner img{
    width: 100vw;
    object-fit:contain;
    bottom: 0;
    filter: drop-shadow(0 0 8px black);
}

.navbar-brand {
	animation: tracking-in-expand-fwd-top 1.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/* ---------------------------------------*/
/*            ANIMACION - LOGO            */
/* ---------------------------------------*/

@keyframes tracking-in-expand-fwd-top {
    0% {
        letter-spacing: -0.5em;
        -webkit-transform: translateZ(-700px) translateY(-500px);
        transform: translateZ(-700px) translateY(-500px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        -webkit-transform: translateZ(0) translateY(0);
        transform: translateZ(0) translateY(0);
        opacity: 1;
    }
}
