*{
    margin: 0;
    padding: 0;
    font-style: none;
    text-decoration: none;
}

a,
li {
    text-decoration: none;
}

/*========================================*/
/*/////    DISEÑO BODY/MAIN PAGE'S    ////*/
/*========================================*/

body {
    margin: 0px;
    max-width: 100vw;
}

main {
    width: 100%;
    min-height: 100vh;
    padding-top: 10px;
    background: linear-gradient(45deg,dodgerblue,white,#f76827);
    background-size: 160% 160%;
    position: relative;
    animation: movimiento 10s ease infinite;
}

@keyframes movimiento {
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}