/*========================================*/
/*//////      DISEÑO RESPONSIVE     //////*/
/*========================================*/

/*   Small Mobil Vertical (hasta 320px)   */
@media (max-width: 320px) { 
/*    RESPONSIVE / GRID - CATEGORIAS      */
    .slider .slide img {
        height: 40px;
        object-fit: contain;
    }
/*    RESPONSIVE / ICONOS REDES           */
    .listRedes li a {
        width: 30px;
        height: 30px;
        line-height: 27px;
        font-size: 14px;
        margin: 0 10px;
        border: 1px solid #e96529;
    }
/*    RESPONSIVE / LOGO FOOTER            */
    .footerLogo a img{
        width: 50px;
    }
/*    RESPONSIVE / DATOS DE CONTACTO      */
    #contListFooter .listFooterContacto li{
        width: 190px;
        font-size: 10px;
    }
    #contListFooter .listFooterContacto li img{
        width: 10px;
        object-fit: contain;
    }
/*      RESPONSIVE / TITULO HEADER         */
    .headerTitulo {
        font-size: 14px;
    }
}

/*  Small Mobil Horizontal(menos de 480px)  */
@media (min-width: 320px) and (max-width: 480px) { 
/*    RESPONSIVE / GRID - CATEGORIAS      */
    .slider .slide img {
        height: 50px;
        object-fit: contain;
    }
/*    RESPONSIVE / ICONOS REDES           */
.listRedes li a {
    width: 40px;
    height: 40px;
    line-height: 33px;
    font-size: 20px;
    margin: 0 10px;
    border: 2px solid #e96529;
}
/*    RESPONSIVE / LOGO FOOTER            */
    .footerLogo a img{
        width: 90px;
    }
/*    RESPONSIVE / DATOS DE CONTACTO      */
    #contListFooter .listFooterContacto li{
        width: 200px;
        font-size: 10px;
    }
    #contListFooter .listFooterContacto li img{
        width: 10px;
        object-fit: contain;
    }
/*      RESPONSIVE / TITULO HEADER         */
    .headerTitulo {
        font-size: 15px;
    }
}

/* - Personalizado (de 438px a 593px) -    */
@media (min-width: 438px) and (max-width: 593px) { 
/*      RESPONSIVE / TITULO HEADER         */
.headerTitulo {
    font-size: 16px;
}
}

/*  Medium Devices/Tablets(de 480px hasta 600px)  */
@media (min-width: 480px) and (max-width: 600px) { 
/*    RESPONSIVE / GRID - CATEGORIAS       */
    #responsiveGrid .contentGrid {
        height: 420px;
    }
    #responsiveGrid .bigImage {
        height: 420px;
    }
    #responsiveGrid .smallImage {
        height: 420px;
    }
/*    RESPONSIVE / GRID - CATEGORIAS       */
    .slider .slide img {
        width: 60%;
        height: 60%;
    }
/*      RESPONSIVE / LOGO FOOTER           */
    .footerLogo a img{
        width: 120px;
    }
/*      RESPONSIVE / TITULO HEADER         */
    .headerTitulo {
        font-size: 19px;
    }
}

/*  Medium Devices/IPAD(de 600px hasta 768px)    */
@media (min-width: 600px) and (max-width: 768px) { 
    #responsiveGrid .contentGrid {
        height: 480px;
    }
    #responsiveGrid .bigImage {
        height: 480px;
    }
    #responsiveGrid .smallImage {
        height: 480px;
    }
/*      RESPONSIVE / GRID - CATEGORIAS    */
    .slider .slide img {
        height: 90px;
    }
/*        RESPONSIVE / TITULO HEADER      */
    .headerTitulo {
        font-size: 24px;
    }
}

/* - Personalizado (hasta 1024px) -    */
@media (max-width: 1024px) { 
/*        RESPONSIVE / TEXTO PROFESORES    */
    .textProf {
        font-size: 14px;
    }
}

/* X-Large devices (large desktops,mayor a 1200px) */
@media (min-width: 768px) and (max-width: 1200px) { 
    .headerTitulo {
        font-size: 26px;
    }
}
